<% @panel_abouts.each do |panel_about| %>
<h4 class="flow-text">About Us</h4>

  <div class="card">
    <div class="card-image">
      <%= image_tag panel_about.image.url, class: "activator" %>
    </div>
    <div class="card-content">
      <span class="card-title">
        <%= panel_about.title %>
      </span>
      <p class="text-justify">
        <%= panel_about.about %>
      </p>
    </div>

  </div>
<blockquote>
  <p>
    <%= panel_about.blockquote %>
  </p>
</blockquote>
<% end %>