<% @panel_abouts.each do |panel_about| %>
<h4 class="flow-text">About Us</h4>

<<<<<<< HEAD
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
=======
  <div class="card">
    <div class="card-image">
>>>>>>> 46bc14a7d20a84967976098a82cbd28de2b30780
      <%= image_tag panel_about.image.url, class: "activator" %>
    </div>
    <div class="card-content">
      <span class="card-title">
        <%= panel_about.title %>
      </span>
      <p class="text-justify">
        <%= panel_about.about %>
      </p>
    </div>

  </div>
<blockquote>
  <p>
    <%= panel_about.blockquote %>
  </p>
</blockquote>
<% end %>