<div class="carousel carousel-slider center" data-indicators="true">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1">
    </a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="http://lorempixel.com/400/400/cats/" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <h4 class="flow-text" style="margin: 0px">Gatonildo Miow</h4>
            Your can type a little text about your business here, or a client depoiment, if you want. This is a square image.<br>
            Add the "circle" class to it to make it appear circular. You are free to do what you want without need developer for this.
          </span>
        </div>
      </div>
    </div>
  </div>

  <h4 class="flow-text">Our Services</h4>

  <div class="row">

    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/400/300/business/">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p class="card-title"># Card Title</p>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/400/300/business/">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p class="card-title"># Card Title</p>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/400/300/business/">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p class="card-title"># Card Title</p>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/400/300/business/">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p class="card-title"># Card Title</p>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>

  </div>

  <h4 class="flow-text">Our Clients</h4>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s2">
          <img src="http://via.placeholder.com/400x400" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
      </div>
  </div>