<h4 class="flow-text"><%= t('title.services') %></h4>

  <div class="row">

    <% @panel_services.each do |panel_service| %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag panel_service.image.url, class: 'img-rounded' %>
            <%#= link_to panel_service, class: 'btn-floating halfway-fab waves-effect waves-light red' do %>
           <!--   <i class="material-icons">add</i> -->
            <%# end %>
          </div>
          <div class="card-content">
            <p class="card-title"><%= panel_service.title %></p>
            <p><%= panel_service.description %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>